.Weather {
    border: 1px solid #a4a1a9;
    border-radius: 4px;
    font-family:'Roboto',Helvetica,Sans-Serif;
    padding: 16px;
}

.Weather h1 {
    font-size: 25px;
    font-weight: 100;
    line-height: 29px;
    margin: 20px 0 0 0;
    padding-left: 10px;
    font-weight: bold;
}

.Weather ul {
    margin: 0;
    padding: 0;
    padding-left: 10px;
    margin-bottom: 5px;
    color:#a4a1a9;
}

.Weather li {
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    list-style: none;
}

.Weather canvas {
    max-height: 80%;
    max-width: 80%;
    position: relative;
    padding-right: 7px;
    padding-left: 10px;
}

.WeatherTemp .temperature {
    color: #202124;
    font-size: 64px;
    font-weight: 400;
}

.WeatherTemp .unit {
    color: #202124;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    top: -33px;
    line-height: 1;
    font-weight: bold;
}

.WeatherInfo .details {
    margin-top: 20px;
}